:root {
    
--cor1: #ffffff;
--cor2: #2c2b2b;
--cor3: #000000;
--cor4: #252424;
--cor5: #202020;
--cor6: #68678b;
--txtcor1: #ffffff;
--txtcor2: #2c2b2b;
--bgPefil1: #34e98e;
--bgPefil2: #d4b6a8;
--bgcor1: #c44f4f;
--bgcor2: #dd8a8a;

}