
.under {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background: linear-gradient(90deg, var(--bgcor1) 0%, var(--bgcor1) 35%, var(--cor2) 100%);
  }


body #links #lin-cont {
  display: flex;
  flex-wrap: wrap;
}
body #links #lin-cont a {
  text-decoration: none;
  color: lightcyan;
  font-size: 10pt;
  text-align: center;
}
body #links #lin-cont a p {
  padding: 5px;
}
body #links #lin-cont a p:hover {
    border-radius: 12px;
  background: #5b6569;
  padding: 5px;
}
body #links #lin-cont a img {
  height: 40px;
  width: 35px;
}