#bg_login{

    background-image: url("/src/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 
}

#hora2{
    
font-size: larger;
margin: 5px;
padding: 5px;
background: rgba(34, 33, 33, 0.9);
display: table;
border-radius: 12px;
text-align: center;
    
}

form{

    background: rgba(34, 33, 33, 0.9);
}

h1{
    background: rgba(34, 33, 33, 0.9);
}