*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*border: 1px solid gray;*/

}

a{
    text-decoration: none;
    
}

h1, h2, h3{
    padding-top: 5px ;
    text-align: center;
}



button{

    background: var(--bgcor1);
    color: var(--cor3);
    border: 1px solid var(--cor3);
    padding: 2px 6px;
    border-radius: 4px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;

}

button:hover{

    border: 1px solid var(--cor1);
    background: var(--bgcor2);

}


input{

    margin: 0px 20px 8px 0px;
 }
 
 
input:focus{
    outline: none;
   
}

